* {
  margin: 0;
  padding: 0;
  background: black;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#player img,
#player video {
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* use "cover" se quiser cortar */
}
